/*=====================
	Calc grid CSS

	A grid system based on https://webdesign.tutsplus.com/tutorials/calc-grids-are-the-best-grids--cms-22902
	and http://css-tricks.com/a-couple-of-use-cases-for-calc/
=======================*/

/*.box {
	float: left;
	width: calc(100% * 1/12 - 10px);   creates a 4 column grid with 20px gutter
	margin: 5px;
	background-image: url(http://placekitten.com/404/303);
	background-size: auto;
}*/

.box, .box2, .box3, .box4, .box6, .box12, .box5, .box7, .box8, .box9, .box10, .box11 {
	float: left;
	margin: 5px;   /* change here to increase margin on each box, but also change `box` class */
}

.nomargin {
	margin: 0 !important;
	width: calc(100% * 1/12 - 10px);
}

img {
	height: 100%;
	width: auto;
}

.offset75 {
	padding-right: 75px;
}

.box {
	width: calc(100% * 1/12 - 10px);  /* if you increase margin, change offset here to double the new margin */
}

.box2 {
	width: calc(100% * 1/6 - 10px);
}

.box3 {
	width: calc(100% * 1/4 - 10px);
}

.box4 {
	width: calc(100% * 1/3 - 10px);
}

.box5 {
	width: calc(100% * 5/12 - 10px);
}

.box6 {
	width: calc(100% * 1/2 - 10px);
}

.box7 {
	width: calc(100% * 7/12 - 10px);
}

.box8 {
	width: calc(100% * 8/12 - 10px);
}

.box9 {
	width: calc(100% * 9/12 - 10px);
}

.box10 {
	width: calc(100% * 10/12 - 10px);
}

.box11 {
	width: calc(100% * 11/12 - 10px);
}

.box12 {
	width: calc(100% - 10px);
}

/* Increase box height as a multiple of original box height */
.stretch2 {
	height: 210px !important;
}

.stretch3 {
	height: 320px !important;
}

.stretch4 {
	height: 430px !important;
}

.stretch5 {
	height: 540px !important;
}

.stretch6 {
	height: 650px !important;
}

.stretch7 {
	height: 760px !important;
}

.stretch8 {
	height: 870px !important;
}

.stretch9 {
	height: 980px !important;
}

/* All boxes are floated left by default, add class right or left if it is necessary */

.right {
	float: right !important;
}

.left {
	float: left !important;
}

.noMarginStretch2 {
	height: 200px !important;
}

/*@media (max-width: 1300px) {

}

@media (max-width: 990px) {
	.box {
		width: calc(100% * 1/3 - 20px);
	}
}

@media (max-width: 600px) {
	.box {
		width: calc(100% * 1/2 - 20px);
	}
}

@media (max-width: 400px) {
	.box {
		width: calc(100% -20px);
	}
}*/